@charset 'utf-8';

@keyframes bomb {
    0% { color: antiquewhite; font-size: 100%;}
    10% { color: aqua; font-size: 200%;}
    20% { color: aquamarine; font-size: 300%;}
    30% { color: bisque; font-size: 400%;}
    40% { color: blue; font-size: 500%;}
    50% { color: blueviolet; font-size: 600%;}
    60% { color: brown; font-size: 700%;}
    70% { color: cadetblue; font-size: 800%;}
    80% { color: chartreuse; font-size: 900%;}
    90% { color: darkcyan; font-size: 1000%;}
    100% { color: crimson; font-size: 1100%;}

}

span{

    animation-name: bomb;
    animation-duration: 11s;
    animation-iteration-count: infinite;

}