@charset 'utf-8';


body{
    margin: 0;
}

nav{
    height: 40px;
    line-height: 38px;
    font-size: 35px;
    text-align: center;
}

.nav-title{
    text-align: center;
}

nav::after{
    content: '';
    clear: both;
    display: block;
    height: 40px;

}

.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -200px;
    width: 190px;
    background-color: white;
    border: 5px solid black;
    z-index: 2;
}

.sidebar-close{
    font-size: 35px;
    float: right;
    cursor: pointer;
}

.ham-menu{
    float: right;
    cursor: pointer;
    font-size: 40px;
    color: white;
    margin: 10px;
}

nav>h1{
    display: inline-block;
    margin: 0;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    text-align: center;
}

.font-black{
    color: black;
}
