@charset 'utf-8';

*{ 
    margin: 0;
    
    font-size: 0;
}

#box1{

    background-color: aquamarine;
    height: 100px;
}

#box1_1{

     border: solid 4px black;
     height: 100px;

}

#box2{ 

    background-color: bisque;
    border: solid 4px black;
    height: 400px;
    
    
     

}

#box2_1,box2_2
{

    border: solid 4px black;
    height: 200px;
    width: calc( (100% -8px) / 2 );
    float: left;
    display: inline-block;
    
    
    
}

